---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 data-toc-skip class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>
  <div class="post-content e-content" itemprop="articleBody">
      <div class="row">
        <div class="col-sm-3">
          <div class="sticky-top">
              <p>
                <!-- <a href="#" style="color: #e6e6e6; text-decoration: none;">{{ page.title }}</a> -->
                {% for item in items %}
      {% if item.name == "h4" or item.name == "h5" or item.name == "h6" %}
        <a href="#{{ item.id }}" data-toc-skip style="color: #e6e6e6; text-decoration: none;">{{ item.title }}</a>
      {% else %}
        <a href="#{{ item.id }}" style="color: #e6e6e6; text-decoration: none;">{{ item.title }}</a>
      {% endif %}
    {% endfor %}
              </p>
            <nav id="toc" data-toggle="toc"></nav>
          </div>
        </div>
  <div class="col-sm-9" id="postBody">
  <div class="post-content e-content" itemprop="articleBody">
    <picture>
      {%- if page.image -%}
        <source type="image/png" srcset="{{ page.image }}">
        <img src="{{ page.image }}" alt="Outdated" style="float: right; margin-right:50px; margin-left:50px; height:120px;" class="include_image ">
      {%- endif -%}
    </picture>
      <p>{{ page.description | escape }}</p>
      {%- if site.show_excerpts -%}
        {{ page.excerpt }}
      {%- endif -%}
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </div>
</article>
